.current {
    color: red;
  }

body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  //margin: 0 5%;
  margin: 37px 5%;
  //text-align: center;
  //margin-right: 200px;
  //margin-left: 200px;

}


